.society-card {

    background:white;
    padding:25px;
    width:260px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;

}


.society-card:hover {

    transform:translateY(-8px);

}


.society-card h2 {

    color:#1d3557;

}


.society-card p {

    color:#555;
    line-height:1.5;

}