.events {

    padding:50px 40px;

}


.events h1 {

    text-align:center;
    color:#1d3557;
    margin-bottom:30px;

}


.event-container {

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;

}